[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
sqlalchemy = "*"
pandas = "*"
python-multipart = "*"
openpyxl = "*"
black = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrpyt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
